/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2016, 2:03:33 AM
    Author     : RAHAD
*/
a,
a:hover,
a:focus,
a:active {
    outline: none;
    border: none;
}

input {
    margin-bottom: 15px;
}

h3 {
    padding-left: 15px;
    margin-bottom: 25px;
}
p {
    padding-left: 15px;
}
.last P {
    margin-top: 40px;
}